<style>
  #imgProduto{
    width: 34px;
    border-radius: 50%;
  }
</style>

<div class="container">
      <div class="py-2 text-center">
      <img src="../../uploads/assets/Logo empório.png " alt="" width="300px">
        <h2>Finalizar Compra</h2>
        <p class="lead">Escolha o metodo de pagamento para finalizarmos seu pedido</p>
      </div>

      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span>Seu carrinho</span>
            <span class="badge badge-secondary badge-pill">3</span>
          </h4>
          <ul class="list-group mb-3">
            {{#each produto}}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <img src="../../{{img}}" alt="" id="imgProduto">
                <h6 class="my-0">{{produto}}</h6>
                <small class="text-muted">Quantidade: {{quantidade}}</small>
                  {{#if observacao}}
                    <small class="text-muted">Observação: {{observacao}}</small>
                  {{else}}
                  {{/if}}
              </div>
              <span  id="total" style="color: rgb(23, 206, 23);">R${{precoTotal}}</span>
            </li>
            {{/each}}
          </ul>

         
        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Endereço de entrega</h4>
          <form class="needs-validation" action="/clientes/compra">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="primeiroNome">Nome</label>
                <input type="text" class="form-control" id="primeiroNome" placeholder="" value="" required>
                <div class="invalid-feedback">
                  É obrigatório inserir um nome válido.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="sobrenome">Sobrenome</label>
                <input type="text" class="form-control" id="sobrenome" placeholder="" value="" required>
                <div class="invalid-feedback">
                  É obrigatório inserir um sobre nome válido.
                </div>
              </div>
            </div>

  

            <div class="mb-3">
              <label for="email">Email <span class="text-muted">(Opcional)</span></label>
              <input type="email" class="form-control" id="email" placeholder="fulano@exemplo.com">
              <div class="invalid-feedback">
                Por favor, insira um endereço de e-mail válido, para atualizações de entrega.
              </div>
            </div>

            <div class="mb-3">
              <label for="endereco">Endereço</label>
              <input type="text" class="form-control" id="endereco" placeholder="Rua dos bobos, nº 0" required>
              <div class="invalid-feedback">
                Por favor, insira seu endereço de entrega.
              </div>
            </div>

            <div class="mb-3">
              <label for="endereco2">Endereço 2 <span class="text-muted">(Opcional)</span></label>
              <input type="text" class="form-control" id="endereco2" placeholder="Apartamento ou casa">
            </div>

            
            
          <button class="btn btn-warning btn-lg btn-block" type="submit">Finalizar Pedido</button>
          </form>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2022-2023 Alan Jesus de Almeida</p>
        <ul class="list-inline">
        </ul>
      </footer>
    </div>

<script>
      // Exemplo de JavaScript para desativar o envio do formulário, se tiver algum campo inválido.
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Selecione todos os campos que nós queremos aplicar estilos Bootstrap de validação customizados.
          var forms = document.getElementsByClassName('needs-validation');

          // Faz um loop neles e previne envio
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>